<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- TODO: replace connection url and mapping class -->
        <property name="connection.url">jdbc:mysql://localhost:3306/encounter_tracker</property>
        <!-- <property name="connection.url">jdbc:mysql://awseb-e-wyy3by53tg-stack-awsebrdsdatabase-d1ogizglryow.cihfymikjjh3.us-east-1.rds.amazonaws.com:3306/sample</property> -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <property name="connection.username">root</property>
        <property name="connection.password">studentpass</property>

        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>

        <mapping class="jdh.entity.User"/>
        <mapping class="jdh.entity.Encounter"/>
        <!-- <mapping class="jdh.entity.Creature"/> -->


    </session-factory>

</hibernate-configuration>
