body {
    margin: 30px;
}

header {
    margin-bottom: 20px;
}

.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 362px;
    max-width: 100%;
    height: auto;
}

hr.solid {
    border-top: 3px solid #bbb;
}

.newUserMessage {
    margin: auto;
    width: 50%;
    text-align: center;
}

.creationForm {
    width: 80%;
    margin: 0 auto;
}

.creationForm label, input, select {
    display: inline-block;
}


.creationForm label {
    width: 30%;
    text-align: right;
}

.creationForm label+input {
    width: 30%;
    margin: 0 30% 0 4%;
}

.creationForm label+select {
    width: 30%;
    margin: 0 30% 0 4%;
}

.creationForm button {
    float: right;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}